"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b66dfb8c-55ed-49b5-8588-f856175fbf15"
    python:
      beautify_on_save: true
      sort_imports: true
  "autocomplete-python":
    extraPaths: ".venv/lib/python3.5/site-packages;.venv/lib/python2.6/site-packages;~/.pyenv/versions/3.5.1/lib/python3.5/site-packages"
    pythonPaths: ".venv/bin/python;~/.pyenv/versions/3.5.1/bin/python"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-csslint"
      "atom-beautify"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
  linter:
    lintOnFly: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-markdown":
    detectIgnore: false
  "linter-shellcheck":
    enableNotice: true
  "one-dark-ui":
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
